@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../fonts/Inter-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url(../fonts/Inter-Medium.ttf);
  font-display: swap;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #1c1c1c;
}
h3,
h4 {
  text-align: center;
}
h3 {
  font-family: Inter-Bold, sans-serif;
  font-size: 24px;
}
h4 {
  font-family: Inter-SemiBold, sans-serif;
  font-size: 10px;
  margin-bottom: 40px;
}
a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/icons/telegram.svg) no-repeat center;
  background-size: cover;
}
a.feedback {
  margin-left: auto;
  background: #FF1C1C;
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
  font-family: Inter-SemiBold, sans-serif;
  text-align: center;
}
.container {
  max-width: none;
  padding: 0px 10px;
  margin: 0px auto;
}
body {
  position: relative;
  font-family: Inter-Regular, sans-serif;
  color: #1c1c1c;
}
.header {
  padding: 25px 0px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 5;
  transition: 0.5s;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  animation: switchtop 0.5s linear forwards;
}
@keyframes switchtop {
  to {
    transform: translateY(0);
  }
}
.header__wrapper {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.header__logo img {
  display: none;
}
.header__logo .mobile__button {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo .mobile__button span {
  width: 20px;
  height: 3px;
  margin: 2px 0px;
  background: #fff;
  border-radius: 2px;
}
.header__logo .mobile__button .out {
  animation: out 0.5s linear forwards;
}
.header__logo .mobile__button .topline {
  animation: topline 0.5s linear forwards;
}
.header__logo .mobile__button .bottomline {
  animation: bottomline 0.5s linear forwards;
}
.header .fixed {
  position: fixed;
  top: 25px;
}
@keyframes out {
  to {
    transform: translateX(-200%);
  }
}
@keyframes topline {
  to {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes bottomline {
  to {
    transform: translateY(-7px) rotate(-45deg);
  }
}
.header .mobile__menu-open {
  transform: translateX(0%);
}
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 70vw;
  min-height: 100vh;
  background: #fff;
  z-index: 10;
  padding-top: 30%;
  padding-left: 10%;
  transform: translateX(-100%);
  transition: 0.5s;
}
.header__nav ul li {
  margin: 5px 0px;
}
.header__nav ul li a {
  font-size: 18px;
}
.header__btn {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  grid-column-start: 2;
}
.main {
  background: url(../img/mainbg.webp) no-repeat center bottom;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.main-top {
  margin-top: 50px;
}
.main__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.main__info {
  margin-top: 100px;
}
.main__info h1 {
  font-family: Inter-Bold, sans-serif;
  font-size: 24px;
}
.main__info h2 {
  font-family: Inter-Medium, sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.main__info button.modal {
  display: flex;
  width: 250px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #039BE5;
  border-radius: 20px;
  color: #fff;
  margin-top: 30px;
  font-family: Inter-Bold, sans-serif;
  cursor: pointer;
}
.main__image {
  position: relative;
  min-height: 200px;
}
.main__image img {
  position: absolute;
  top: 0%;
  max-width: 500px;
}
.advantage {
  position: relative;
  top: -10vh;
  margin-bottom: -15vh;
}
.advantage-box {
  min-height: 200px;
  min-width: 95%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  border: 2px solid #CDCDCD;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
}
.advantage-box img {
  width: 50px;
}
.advantage-box span.name {
  display: block;
  font-family: Inter-Medium, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.category {
  padding: 50px 0px;
}
.category__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: auto;
  grid-gap: 30px;
  margin-top: 30px;
}
.category__box {
  background: #FFFFFF;
  border: 2px solid #039BE5;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
.category__box h5 {
  font-size: 20px;
  font-family: Inter-Bold, sans-serif;
}
.category__box span {
  display: block;
}
.category__box span.info {
  font-size: 14px;
}
.category__box span.price {
  font-size: 20px;
  font-family: Inter-Bold, sans-serif;
  margin: 15px 0px;
}
.category__box button.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  width: 200px;
  height: 40px;
  background: #039BE5;
  border-radius: 20px;
  color: #fff;
  font-family: Inter-Bold, sans-serif;
  cursor: pointer;
}
.documents {
  padding: 50px 0px;
  background: #F5F5F5;
}
.documents__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}
.documents__box {
  min-height: 250px;
  background: #FFFFFF;
  border: 2px solid #039BE5;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.documents__box img {
  width: 80px;
}
.documents__box span.name {
  font-size: 20px;
  font-family: Inter-SemiBold, sans-serif;
  display: block;
  margin: 15px 0px;
}
.feedback {
  padding: 50px 0px 100px 0px;
  position: relative;
}
.feedback .slick-list {
  padding: 0px 20%;
}
.feedback .slick-slide {
  margin: 0px 7px;
  opacity: 0.7;
}
.feedback .slick-slide img {
  height: 400px;
  width: 300px;
}
.feedback .slick-active {
  opacity: 1;
}
.feedback .slick-arrow {
  position: absolute;
  bottom: -80px;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: url(../img/icons/arrow.svg) no-repeat center;
  background-size: cover;
}
.feedback .slick-prev {
  right: 50%;
}
.feedback .slick-next {
  left: 50%;
  transform: rotate(180deg);
}
.city {
  padding: 50px 0px;
}
.city__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.city__wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  height: 40px;
  border: 2px solid #039BE5;
  border-radius: 20px;
  transition: 0.5s;
}
.city__wrapper a:hover {
  background: #039BE5;
  color: #fff;
}
.faq {
  padding: 50px 0px 20px 0px;
}
.faq__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0px;
}
.faq__question {
  padding: 25px;
  font-family: Inter-SemiBold, sans-serif;
  border: 1px solid #626262;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.faq__question span {
  display: block;
  padding-right: 50px;
}
.faq__question img {
  width: 20px;
  position: absolute;
  top: 35px;
  right: 25px;
  transform: rotate(90deg);
  transition: 0.5s;
}
.faq__question .arrow-open {
  transform: rotate(270deg);
}
.faq__answer {
  display: none;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #626262;
  font-family: Inter-Regular, sans-serif;
}
.faq__answer-open {
  display: block;
}
.contacts {
  padding: 50px 0px;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
}
.contacts__info span.name {
  font-family: Inter-Bold, sans-serif;
  margin-top: 10px;
}
.footer {
  padding: 30px 0px;
  background: #626262;
  color: #fff;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}
.footer__link ul li {
  margin: 10px 0px;
}
.footer__link ul li a {
  color: #fff;
  font-family: Inter-SemiBold, sans-serif;
}
.footer__btn {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
}
.footer__btn a.feedback {
  margin: 0;
  width: 250px;
}
.footer__copyright {
  display: flex;
  align-items: center;
}
.footer__copyright img {
  width: 60px;
  filter: invert(1);
  margin-right: 15px;
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  visibility: hidden;
  transition: 0.3s;
}
.popup-open {
  visibility: visible;
}
.popup__body {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateY(-150%) translateX(-50%);
  width: 90%;
  background: #fff;
  transition: 0.3s;
  padding: 30px;
  border-radius: 20px;
}
.popup__body-open {
  transform: translateY(0) translateX(-50%);
}
.popup__body h3 {
  font-size: 18px;
}
.popup__body h4 {
  font-size: 14px;
  font-family: Inter-Regular, sans-serif;
  margin-bottom: 10px;
}
.popup__body input {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  font-size: 1em;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  margin-bottom: 20px;
}
.popup__body label {
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: 10px;
  left: 10px;
  padding: 0px 10px;
  background: #fff;
}
.popup__body button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background: #039BE5;
  border-radius: 20px;
  color: #fff;
  font-family: Inter-Bold, sans-serif;
  cursor: pointer;
}
.popup__close {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -40px;
  z-index: 102;
  cursor: pointer;
}
.popup__close span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background: #000;
  margin: 5px 0px;
}
.popup__close span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.popup__close span:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg);
}
@media (min-width: 1201px) {
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 12px;
  }
  a.feedback {
    padding: 10px 20px;
  }
  .container {
    max-width: 1200px;
    padding: 0px;
    margin: 0px auto;
  }
  .header {
    padding: 20px 0px;
  }
  .header__wrapper {
    display: grid;
    grid-template-columns: 60px 1fr 300px;
  }
  .header__logo img {
    display: block;
  }
  .header__logo .mobile__button {
    display: none;
  }
  .header__nav {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: none;
    padding: 0;
    transform: translateX(0);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .header__nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header__nav ul li {
    margin: 0px;
    display: inline-block;
  }
  .header__nav ul li a {
    font-size: 18px;
  }
  .header__btn {
    grid-column-start: 3;
  }
  .main {
    min-height: 850px;
  }
  .main__wrapper {
    margin-top: 100px;
    align-items: center;
    grid-template-columns: 1.7fr 1fr;
  }
  .main__info {
    margin-top: 0px;
  }
  .main__info h1 {
    font-size: 48px;
  }
  .main__info h2 {
    font-size: 22px;
    max-width: 80%;
  }
  .main__info button.modal {
    font-size: 22px;
    width: 350px;
    height: 80px;
  }
  .main__image img {
    top: 0%;
    left: -50%;
    max-width: none;
  }
  .advantage {
    top: -250px;
    margin-bottom: -200px;
  }
  .advantage__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 75px;
  }
  .advantage-box {
    min-width: 100%;
  }
  .category {
    padding: 80px 0px;
  }
  .category__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 60px;
  }
  .category__box {
    min-height: 500px;
    padding: 40px 30px;
  }
  .category__box h5 {
    font-size: 24px;
  }
  .category__box span.price {
    margin: 20px 0px;
  }
  .category__box button.modal {
    height: 50px;
  }
  .category__box img {
    height: 200px;
  }
  .documents {
    padding: 80px 0px;
  }
  .documents__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  .documents__box {
    justify-content: start;
    padding: 30px 0px;
  }
  .feedback {
    padding: 80px 0px;
    padding-right: calc((100vw - 1200px) / 2);
    padding-left: calc((100vw - 1200px) / 2);
    position: relative;
  }
  .feedback .slick-list {
    padding: 0px;
  }
  .feedback .slick-slide {
    margin: 0px;
    opacity: 1;
  }
  .feedback .slick-slide img {
    display: block;
    margin: 0px auto;
    height: 400px;
    width: 300px;
  }
  .feedback .slick-arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 5;
    cursor: pointer;
  }
  .feedback .slick-prev {
    left: -60px;
  }
  .feedback .slick-next {
    left: 100%;
    transform: translateY(50%) rotate(180deg);
  }
  .city {
    padding: 80px 0px;
  }
  .city__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
  }
  .city__wrapper a {
    height: 60px;
  }
  .faq {
    padding: 80px 0px 50px 0px;
  }
  .faq__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 120px;
    grid-row-gap: 30px;
  }
  .faq__question {
    margin-bottom: 30px;
  }
  .faq__question img {
    top: 35px;
  }
  .footer {
    padding: 50px 0px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr 500px;
    align-items: center;
    grid-gap: 15px;
  }
  .footer__link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__link ul li {
    display: inline-block;
    margin: 0px;
  }
  .footer__btn {
    margin-left: auto;
  }
}
